@font-face {
  font-family: "Korb";
  src: url("/fonts/korb/Korb.woff2") format("woff2"),
       url("/fonts/korb/Korb.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Korb";
  src: url("/fonts/korb/Korb-Italic.woff2") format("woff2"),
       url("/fonts/korb/Korb-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Korb";
  src: url("/fonts/korb/Korb-Bold.woff2") format("woff2"),
       url("/fonts/korb/Korb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Korb";
  src: url("/fonts/korb/Korb-BoldItalic.woff2") format("woff2"),
       url("/fonts/korb/Korb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
